<section class="cadastro-page">

  <div class="cadastro-card">

    <div class="brand">

      <div class="brand-icon">
        ◇
      </div>

      <div>
        <h1>Feira</h1>
        <p>Management System</p>
      </div>

    </div>

    <h2>Criar conta</h2>

    <p class="subtitle">
      Cadastre um usuário para acessar o sistema.
    </p>

    <p
      *ngIf="mensagem"
      class="message">

      {{ mensagem }}

    </p>


    

    <form>

      <div class="field">

        <label>Nome</label>

        <input
          type="text"
          name="nome"
          placeholder="Digite seu nome"
          [(ngModel)]="nome">

      </div>

      <div class="field">

        <label>E-mail</label>

        <input
          type="email"
          name="email"
          placeholder="exemplo@email.com"
          [(ngModel)]="email">

      </div>

      <div class="field">

        <label>Senha</label>

        <div class="password-wrapper">

          <input
            [type]="mostrarSenha ? 'text' : 'password'"
            name="senha"
            placeholder="Mínimo de 8 caracteres"
            [(ngModel)]="senha">

          <button
            type="button"
            class="eye-button"
            (click)="alternarSenha()">

            {{ mostrarSenha ? '👁' : '👁️‍🗨️' }}

          </button>

        </div>

      </div>

      <div class="field">

        <label>Confirmar senha</label>

        <div class="password-wrapper">

          <input
            [type]="mostrarConfirmarSenha ? 'text' : 'password'"
            name="confirmarSenha"
            placeholder="Repita a senha"
            [(ngModel)]="confirmarSenha">

          <button
            type="button"
            class="eye-button"
            (click)="alternarConfirmarSenha()">

            {{ mostrarConfirmarSenha ? '👁' : '👁️‍🗨️' }}

          </button>

        </div>

      </div>

      <button
        type="button"
        [disabled]="carregando"
        (click)="cadastrar()">

        {{ carregando ? 'Cadastrando...' : 'Cadastrar' }}

      </button>

    </form>

    <p class="login-link">

      Já possui conta?

      <a routerLink="/login">
        Entrar
      </a>

    </p>

  </div>

</section>