<router-outlet *ngIf="estaNaTelaLogin()"></router-outlet>

<div
  class="layout"
  *ngIf="!estaNaTelaLogin()">

  <aside class="sidebar">

    <div class="logo-area">

      <div class="logo-icon">
        ◇
      </div>

      <div>
        <h2>Feira</h2>
        <small>Management System</small>
      </div>

    </div>

    <nav class="menu">

      <a
        routerLink="/home"
        routerLinkActive="active">

        <span>⌂</span>
        Início

      </a>

      <a
        routerLink="/feirantes"
        routerLinkActive="active">

        <span>👥</span>
        Feirantes

      </a>

      <a
        routerLink="/categorias"
        routerLinkActive="active">

        <span>🗂️</span>
        Categorias

      </a>

      <button
        type="button"
        class="logout-button"
        (click)="sair()">

        <span>↩</span>
        Sair

      </button>

    </nav>

  </aside>

  <main class="content">

    <router-outlet></router-outlet>

  </main>

</div>