<router-outlet *ngIf="estaEmTelaPublica()"></router-outlet>

<div
  class="layout"
  *ngIf="!estaEmTelaPublica()">

  <aside
    class="sidebar"
    [class.minimizada]="sidebarMinimizada">

    <div class="top-sidebar">

      <div
        class="logo-area"
        *ngIf="!sidebarMinimizada">

        <div class="logo-icon">
          ◇
        </div>

        <div>
          <h2>Feira</h2>
          <small>Gestão Feira</small>
        </div>

      </div>

      <button
        class="toggle-button"
        (click)="alternarSidebar()">

        {{ sidebarMinimizada ? '☰' : '←' }}

      </button>

    </div>

    <div
      class="usuario-box"
      *ngIf="!sidebarMinimizada">

      <strong>
        Olá, {{ pegarNomeUsuario() }}
      </strong>

    </div>

    <nav class="menu">

      <a
        routerLink="/home"
        routerLinkActive="active">

        <span>🏡</span>

        <span *ngIf="!sidebarMinimizada">
          Início
        </span>

      </a>

      <a
        routerLink="/feirantes"
        routerLinkActive="active">

        <span>👥</span>

        <span *ngIf="!sidebarMinimizada">
          Feirantes
        </span>

      </a>

      <a
        routerLink="/categorias"
        routerLinkActive="active">

        <span>🗂️</span>

        <span *ngIf="!sidebarMinimizada">
          Categorias
        </span>

      </a>

      <button
        type="button"
        class="logout-button"
        (click)="sair()">

        <span>↩</span>

        <span *ngIf="!sidebarMinimizada">
          Sair
        </span>

      </button>

    </nav>

  </aside>

  <main class="content">

    <router-outlet></router-outlet>

  </main>

</div>